@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header */

header {
  background-color: #277292;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
header h1 {
  font-weight: 300;
}

.ticket {
  font-size: 3em;
}

/* Body */

.notfound {
  font-weight: 300;
  text-align: center;
  font-size: 2em;
}

.tagline {
  font-size: 3em;
  text-align: center;
  padding-top: 50px;
}

.input {
  padding: 10px;
}

.boxes input,
.boxes select,
.boxes textarea {
  background: #ffffff;
  border: 3px solid #ff7684;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  width: 400px;
  font-size: 1em;
  color: #000;
}

.boxes input:hover,
.boxes select:hover,
.boxes textarea:hover {
  border: 3px solid #da626e;
}

.boxes input[type="date"] {
  font-family: "Roboto", sans-serif;
}

.boxes button {
  background: #3589ad;
  border-radius: 11px;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
}

.boxes button:hover {
  background: #277292;
  border-radius: 11px;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}

.button {
  display: flex;
  justify-content: center;
}

.resultimage,
.resultimage img {
  width: 500px;
}

.events {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.eventsimage,
.eventsimage img {
  position: relative;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.eventtitle {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  background-color: #277292;
  padding: 20px;
}

.goback {
  background: #ffffff;
  border: 3px solid #ff7684;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  font-size: 1em;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 1024px;
  padding-top: 50px;
}

/* Comments */
.commentscontainer {
  margin: 0 auto;
  width: 500px;
  padding-top: 50px;
  background: #ffffff;
  border: 3px solid #ff7684;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  font-size: 1em;
  color: #000;
}

.commentscontainer p {
  word-wrap: break-word;
}

.commentscontainer button {
  background: #3589ad;
  border-radius: 11px;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
}

.commentscontainer button:hover {
  background: #277292;
  border-radius: 11px;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
}

.commentscontainer input,
.commentscontainer select,
.commentscontainer textarea {
  background: #ffffff;
  border: 3px solid #ff7684;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  width: 400px;
  font-size: 1em;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.commentscontainer input:hover,
.commentscontainer select:hover,
.commentscontainer textarea:hover {
  border: 3px solid #da626e;
}

.commentsdate {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgb(104, 104, 104);
  letter-spacing: 0.5px;
}

.information {
  display: flex;
  flex-direction: row;
}

.information_left {
  width: 40%;
}

.information_right {
  width: 60%;
  line-height: 2em;
}

.dateandtime {
  background-color: #e3e3e3;
  padding: 20px;
  width: 80%;
}

.price {
  background-color: #277292;
  padding: 20px;
  width: 80%;
  color: #fff;
}

.ticketmaster {
  background-color: #ff7785;
  padding: 20px;
  width: 80%;
  color: #fff;
}

.ticketmaster a {
  color: #fff;
}

.seatmapbutton {
  background: #ffffff;
  border: 3px solid #ff7684;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  font-size: 1em;
  color: #000;
}

/* Mobile Responsive CSS */
@media only screen and (max-width: 600px) {
  .eventsimage,
  .eventsimage img {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .tagline {
    font-size: 2em;
  }

  .boxes input,
  .boxes select,
  .boxes textarea {
    width: 100%;
  }

  .resultimage,
  .resultimage img {
    max-width: 300px;
  }

  .container {
    margin: 0 auto;
    width: 300px;
  }

  .events {
    width: 300px;
  }

  .information {
    display: flex;
    flex-direction: column;
  }

  .information_left {
    width: 300px;
    padding-bottom: 25px;
  }

  .information_right {
    width: 300px;
    line-height: 2em;
  }

  .notfound {
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
  }
}
.googleMap {
  display: flex;
  justify-content: center;
}
